

/* center */
body > form > table {
        margin: 0 auto;
}


input 
{
	margin: 0px;
	border: 1px solid #003C9F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
textarea
{
	margin: 0px;
	border: 1px solid #003C9F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
select
{
	margin: 0px;
	border: 1px solid #003C9F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.CheckboxSeparator 
{
	width: 6px;
}

.FeedbackHeader 
{
	background-color: #FFFFFF;
}

.FeedbackHeaderSeparator1 
{
	background-color: #FFFFFF;
	height:10px !important; 
}

.FeedbackHeaderSeparator2 
{
	background-color: #FFFFFF;
	height:10px !important; 
}

.FeedbackTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}

.FeedbackTitleNotes {
	font-family : Arial, Helvetica, sans-serif; 
	font-size : 10px; 
	font-style : normal; 
	line-height : normal; 
	font-weight : bold; 
	font-variant : normal; 
	text-transform : none; 
	color : #000000; 
	text-decoration : none;
}

.FeedbackFooter 
{
	background-color: #FFFFFF;
}

.FeedbackFooterSeparator 
{
	background-color: #FFFFFF;
	height:10px !important; 
}

.FeedbackButton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: FFFFFF;
	background-color: #003C9F;
	font-weight: bold;
	width: 120px
} 

.LargeButton {
    width: 180px !important;
}

.PageHeader 
{
	background-color: #FFFFFF;
	height: 30px;
}

.PageTitle {
	font-family : Arial, Helvetica, sans-serif; 
	font-size : 13px; 
	font-style : normal; 
	line-height : normal; 
	font-weight : bold; 
	font-variant : normal; 
	text-transform : none; 
	color : #000000; 
	text-decoration : none; 
} 

.PageSubTitle {
	font-family : Arial, Helvetica, sans-serif; 
	font-size : 12px; 
	font-style : normal; 
	line-height : normal; 
	font-weight : normal; 
	font-variant : normal; 
	text-transform : none; 
	color : #000000; 
	text-decoration : none; 
} 

.PageBackground 
{
	background-color: #EEEEEE;
	height:10px !important; 
}

.QuestionTitle 
{
	font-family : Arial, Helvetica, sans-serif; 
	font-size : 16px; 
	font-style : normal; 
	line-height : normal; 
	font-variant : normal; 
	text-transform : none; 
	color : #000000; 
	text-decoration : none; 
	padding-bottom: 6px; 
	padding-top: 4px;
}

.QuestionSubTitle 
{
	font-family : Arial, Helvetica, sans-serif; 
	font-size : 12px; 
	font-style : normal; 
	line-height : normal; 
	font-weight : normal; 
	font-variant : normal; 
	text-transform : none; 
	color : #000000; 
	text-decoration : none; 
}

.QuestionText 
{
	font-family : Arial, Helvetica, sans-serif; 
	font-size : 12px; 
	font-style : normal; 
	line-height : normal; 
	font-weight : normal; 
	font-variant : normal; 
	text-transform : none; 
	color : #000000; 
	text-decoration : none; 
}

.QuestionBackground 
{
	background-color: #FFFFFF;
}

.QuestionAlternateBackground 
{
	background-color: #DDDDDD;
}

.MatrixFirstColumn 
{
	display:block;
	width: 150px;
}

.ProgressBar{
	width:90%; 
	margin-top: 10px; 
	margin-bottom: 10px; 
	margin-right:5%;
	margin-left:5%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px; 
	color:#000000; 
	font-weight:bold;
}
.ProgressBar TABLE
{
	background-color:#999999;
}
.ProgressBar TD
{
	vertical-align:middle;
	border:1px solid #999999;
	padding:3px;
}
.ProgressBar TD.ProgressBarText
{
	background-color:#ffffff; 
	margin-right:3px; 
	margin-left:3px;
	padding-left:6px; 
	padding-right:6px;
	font-size:11px; 
}
abbr.ProgressBarBorder 
{
	border-bottom:0;
}
.ProgressBarArea
{
	background-color:#003C9F; 
	font-size:1px; 
	height:14px
}
.ProgressBarContainer 
{
	background-color: #FFFFFF;
}
.RatingScaleFirstColumn 
{
	display:block;
	width: 250px;
                   text-align: right;
}

.RatingScaleLastColumn 
{
	display:block;
	width: 250px;
                   text-align: left;
}


.MatrixDropDowns {
        width: 100px;
}

.Feedbackmain
            {
                width: 751px;
                background-color: #FFFFFF;
            }

            .Feedbackheaderlogo, .Feedbackheadernotes 
            {
                width: 719px;
            }

            .Feedbackheadersep1, .Feedbackheadersep2, .Feedbackpagetop, .Feedbackquestionseparator, .Feedbackfootersep
            {
                width: 751px;
            }

            .Feedbackheadertitle
            {
                width: 569px;
            }

            .questionddl, .questionddlother {
                width: 400px;
            }

            .questiontextarea {
                width: 60%;
                height: 120px;
            }

            .questionmultiplerows, .questiononerow {
                width: 300px;
            }

            .questionmatrixtable {
                width: 100%;
            }

            .Feedbackbuttonleft {
                float: left;
                padding: 5px;
            }

            .Feedbackbuttonright {
                float: right;
                padding: 5px;
            }

            .Feedbackbuttonmargins {
                margin-left: 10px;
            }

            .Feedbacktitleleft {
                float: left;
            }

            .Feedbacktitleright {
                float: right;
            }

            .questionhoriztable {
                width: 80%;
            }

            @media only screen and (max-width: 680px) {
                .Feedbackmain
                {
                    width: 100%;
                    background-color: #FFFFFF;
                    table-layout: fixed;
                }

                .Feedbackheaderlogo, .Feedbackheadernotes, .Feedbackheaderlogoimg
                {
                    width: 100%;
                }

                .Feedbackheadersep1, .Feedbackheadersep2, .Feedbackpagetop, .Feedbackquestionseparator, .Feedbackfootersep
                {
                    width: 100%;
                }

                .Feedbackheadertitle
                {
                    width: 100%;
                }

                .questionddl, .questionddlother {
                    width: 100%;
                }

                .questiontextarea {
                    width: 100%;
                    height: 80px;
                }

                .questionmultiplerows, .questiononerow {
                    width: 100%;
                }

                .questionmatrixtable, .questionhoriztable {
                    width: 100%;
                    display: block;
                }

                .questionmatrixdiv, .questionhorizdiv {
                    width: 100%;
                    overflow-x: scroll;
                }

                .Feedbacktitleright {
                    float: left;
                }

                .Feedbackbuttonmargins {
                    margin-top: 10px;
                }

                .websitelogo {
                    display: none;
                    visibility: hidden;
                }

                .QuestionTitle img, span.QuestionText img {
                    max-width: 100%;
                }
            }
            

.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

.textareainput {
	width:300px; 
	height:auto;
}

.textareainputq9 {
	width:300px; 
	height:auto;
}
