#msg-box3-2 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2 .mbr-article P {
  text-align: center;
}
#testimonials1-3 .mbr-reviews__text P {
  text-align: center;
}

#msg-box3-5 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-5 .mbr-header .mbr-header__subtext {
  text-align: center;
}
